html,body {
    width:100vw;
    height: 100vh;
    margin: 0;
}
#videoBG {
    position:fixed;
    z-index: -1;
    opacity: 0.2;
}
@media (min-aspect-ratio: 16/9) {
    #videoBG {
        width:100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    #videoBG { 
        width:auto;
        height: 100%;
    }
}
@media (max-width: 767px) {
    body {
        background: url('poster.jpg');
        background-size: cover;
    }
}

.wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000;
    flex-direction: column;
}
.greeting {
    color: #ffffff;
    background:#000000;
    font-size:70px;
    font-weight: bold;
    font-family: Arial;
    text-transform: uppercase;
}
.greeting::before {
    content: 'Happy Birthday, Yeyucat!!';
    position: absolute;
    mix-blend-mode: difference;
    filter: blur(3px);
}

.neon-wrapper {
    display:inline-flex;
    filter: brightness(200%);
    overflow: hidden;
}
.gradient{
    background: linear-gradient(114.5793141156962deg, rgba(6, 227, 250,1) 4.927083333333334%,rgba(229, 151, 64,1) 97.84374999999999%);
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height:100%;
    mix-blend-mode: multiply;
}
.dodge {
    background: radial-gradient(circle,white,black 35%) center / 25% 25%;
    position: absolute;
    top:-100%;
    left:-100%;
    right:0;
    bottom:0;
    mix-blend-mode: color-dodge;
    animation: dodge-area 3s linear infinite;
}
@keyframes dodge-area {
    to {
        transform: translate(50%,50%);
    }
}

video {
    display: none;
}